.portfolio-container {
    display: flex;
    justify-content: space-between;
}

.portfolio-main {
    display: flex;
    flex-direction: column;
    padding-top: 99px;
    margin-left: 130px;
    width: 677px;
}

.portfolio-datarange ul {
    border: none;
    border-top: 2px dotted;
    color: lightgray;
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 47px;
}

.portfolio-datarange ul li {
    color: black;
    display: inline-block;
    padding: 20px 30px 13px 0px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    
}

.portfolio-datarange ul li:hover {
    color: #21ce99;
    display: inline-block;
    padding: 20px 30px 13px 0px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.graph-fin-metrics {
    margin-bottom: 10px;
}

.graph-fin-metrics h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

.graph-fin-metrics h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin: 0;
}

.metric-changes {
    display: flex
}

.metric-changes h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 2px;
}

.portfolio-news {
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.portfolio-news h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding-bottom: 23px;
}

.portfolio-news-item {
    display: flex;
    align-content: space-between;
    padding: 21px 0px 21px 0px;
    width: 200px;
    height: 200px;
    text-decoration: none;
}

.portfolio-news-image {
    padding-left: 20px;
}

.portfolio-news-container li:hover {
    background-color: whitesmoke;
}

.portfolio-news-item img {
    max-width: 100%;
    max-height: 100%;
}

.portfolio-news-content {
    margin-left: 27px;
}

.portfolio-news-content h3 {
    width: 500px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: black;
}

.portfolio-news-content h4 {
    width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: black;
}

.port-container {
    padding-top: 72px;
    margin-left: 71px;
    margin-right: 128px;
    width: 282px;
}

.portfolio-watchlist {
    position: fixed;
}

.port {
    margin: 24px; 
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, 0.09);
    width: 275px;
    height: 379px;
    overflow: auto;
}

.table-row-header {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid whitesmoke;
}

.table-row-header-cell {
    flex-grow: 1;
    width: 1px;
    margin: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.table-row {
    display: flex;
    flex-wrap: wrap;
}

.table-row:hover {
    background-color: whitesmoke;
}

.break {
  flex-basis: 100%;
  height: 0;
  width: 0;
}

.table-cell {
    flex-grow: 1;
    width: 1px;
    margin: 24px;
    font-family: 'Montserrat', sans-serif;
}

.table-cell-chart {
    flex-grow: 1;
    width: 1px;
    margin: 24px;
    border-bottom: 2px dotted;
}

.user-transactions {
    width: 100%;
    display: none;
}

.show-transactions {
    display: inline-block;
}

.user-transactions h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 30px 0px 23px 0px;
    border-bottom: 1px solid lightgray;
}

.transactions-row {
    display: flex;
    flex-wrap: wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
  width: 0;
}

.transactions-cell {
    flex-grow: 1;
    width: 1px;
    margin: 24px;
    font-family: 'Montserrat', sans-serif;
}