.login-signup{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.profile{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black
}


.nav-home p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.profile a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.github {
    padding-left: 30px;
    padding-right : 30px;
}

.profile a:hover {
    text-decoration: underline;
    color:  #21ce99;
}


.nav-home p:hover {
    text-decoration: underline;
    color:  #21ce99;   
}

.profile img{
    display: inline-block;
    height: 55px;
}


.nav-links button {
    background-color: #21ce99;
    color: white;
    font-size: 15px;
    border-radius: 36px;
    padding: 15px 30px 15px 30px;
    border: none;
    margin-left: 30px;
    transition: box-shadow .3s
}

.nav-links button:hover {
    box-shadow: 0 0 20px rgba(33, 33,33, .2);
    text-decoration: underline;
}

.nav-signup{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.nav-login {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 50px;
}

.nav-login:hover {
    text-decoration: underline;
    color:  #21ce99;
}
