.signup-container {
    display: flex;
    justify-content: center;
}

.signup-form-box {
    margin: 31px;
    padding: 0 100px;
    width: 750px;
}

.signup-header {
    padding: 4px;
}

.signup-head{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100px;
    font-size: 48px;
    width: 100%;
    margin: 0 0 12px;
}

.signup-subhead {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.signup-name {
    display: flex;
    justify-content: space-between 
}

.signup-name input {
   background: white;
    font-size: 22px;
    height: 46;
    padding: 10px 5px 10px 18px;
    border-radius: 4px;
    margin-bottom: 35px;
    width: 42%;
}

.last_name {
    background: white;
    font-size: 22px;
    height: 46;
    padding-left: 18px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin-left: 20px;
    border-color: lightgray;
    border-radius: 4px;
    width: 45%;
}

.signup {
    box-sizing: border-box;
    background: white;
    font-size: 22px;
    height: 46;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    margin-right: 20px;
    margin-bottom: 35px;
    border-color: lightgray;
    border-radius: 4px;
    width: 100%;
}

.input-fields input {
    border-style: solid;
    border-color: lightgray;
}

.input-fields input::placeholder {
    color: lightgray;
    opacity: 1;
}
.input-fields input:focus {
    outline: none;
    border-style: solid;
    border-color: #1ae9aa;
}
.signup-button {
    box-sizing: border-box;
    background-color: #21ce99;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    padding: 15px 40px 15px 40px;
    width: 100%;
}

.existing-member {
    padding-bottom: 20px;
}

.signin-link {
    text-decoration-line: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #21ce99;
    font-weight: 500px;
}


.signup-button:hover{
    box-sizing: border-box;
    cursor: pointer;
    background-color: #1ae9aa;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    padding: 15px 40px 15px 40px;
    width: 100%;
}

.signup-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px;
}

.signup_gif img{
    margin-top: 302px;
    margin-right: 100px;
}

.signup-logo img {
    height: 200px;
}