.signup-container {
    display: flex;
    justify-content: center;
    
}

.signup-form-box {
    margin: 63px 0px 100px 100px;
    padding: 0 75px;
    width: 750px;
    height: 577px;
}

.signup-header {
    padding: 4px;
    
}

.signup-head{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    width: 100%;
    margin: 0 0 12px;
    letter-spacing: 2px;
}

.signup-subhead {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    padding-bottom: 20px;
    line-height: 1.6;
}

.signup-name {
    display: flex;
    justify-content: space-between 
}

.signup-name input {
   background: white;
    font-size: 22px;
    height: 46;
    padding: 10px 5px 10px 17px;
    border-radius: 4px;
    margin-bottom: 8px;
    width: 42%;
}

.last_name {
    background: white;
    font-size: 22px;
    height: 46;
    padding-left: 18px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin-left: 20px;
    border-color: lightgray;
    border-radius: 4px;
    width: 45%;
}

.signup {
    box-sizing: border-box;
    background: white;
    font-size: 22px;
    height: 46;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-color: lightgray;
    border-radius: 4px;
    width: 100%;
}

.input-fields input {
    border: 1px solid lightgray;
    border-color: lightgray;
}

.input-fields input::placeholder {
    color: lightgray;
    opacity: 1;
}
.input-fields input:focus {
    outline: none;
    border-style: solid;
    border-color: #1ae9aa;
}
.signup-button {
    box-sizing: border-box;
    background-color: #21ce99;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 15px 40px 15px 40px;
    width: 100%;
}

.existing-member {
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 167px;
}

.signin-link {
    text-decoration-line: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #21ce99;
    font-weight: 500px;
}

.signin-link:hover {
    cursor: pointer;
}


.signup-button:hover{
    box-sizing: border-box;
    cursor: pointer;
    background-color: #1ae9aa;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 15px 40px 15px 40px;
    width: 100%;
}

.signup-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px;
}

.signup_gif img{
    margin-top: 130px;
    margin-right: 100px;
    height: 250px;
}

.signup-logo img {
    height: 65px;
}

#error {
    border: 1px solid red;
}

.errorhandler {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white
}

.errorhandler .errorhandler {
    visibility: hidden;
    width: 160px;
    background-color: rgba(0, 0, 0, 0.507);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.errorhandler .errorhandlertext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.507) transparent transparent transparent;
}

.errorhandler .show {
    visibility: show;
    -webkit-animation: fadeIn 1s;
    animation:  fadeIn 1s;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
