.stock-main {
    display: flex;
    flex-direction: column;
    padding-top: 99px;
    margin-left: 130px;
    width: 687px;
}

.about-line {
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 28px;
}

.stock-about {
    margin-bottom: 70px;
}

.stock-about h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding-bottom: 23px;
}

.stock-about h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: normal;
    width: 90%;
    margin-bottom: 41px;
}

.header td {
    padding: 0px 75px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.about-info td {
    padding-top: 1px;
    padding-bottom: 17px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

